<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head">
    <title>Success</title>
</head>
<head>
    <title th:text="#{login.denied}">Success</title>
</head>
<body>
<div th:include="fragments/layout :: header"></div>
<div style="padding-top: 60px"></div>
<p style="padding: 30px;" th:text="#{login.denied}">You have no access.</p>
<div th:replace="fragments/layout :: footer">
    Footer
</div>
</body>
</html>