<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head">
    <title>List of phone entries</title>
</head>
<head>
    <title>List of phone entries</title>
</head>
<body>
<div th:include="fragments/layout :: header"></div>
<div style="padding-top: 60px"></div>
<div class="container">
    <div class="row row-content">
        <div class="col-xs-12">
            <h3 th:text="#{entry.add.entry.title}" style="padding:20px;">Add new Phone entry</h3>
        </div>

        <div class="col-xs-12 col-sm-9">
            <form class="form-horizontal" accept-charset="UTF-8" role="form" th:object="${entry}" th:action="@{/entry}" method="post">

                <input type="hidden" th:field="${entry.id}" name="id" id="id"/>

                <div class="form-group">
                    <label for="secondName" class="col-sm-2 control-label" th:text="#{entry.list.secondname.label}"></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="secondName" th:field="*{secondName}" th:placeholder="#{entry.edit.secondname.placeholder}">
                        <span th:if="${#fields.hasErrors('secondName')}" th:errors="*{secondName}"
                              class="help-inline label-danger">Incorrect data</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="firstName" class="col-sm-2 control-label" th:text="#{entry.list.firstname.label}">First name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="firstName" th:field="*{firstName}" th:placeholder="#{entry.edit.firstname.placeholder}">
                        <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
                              class="help-inline label-danger">Incorrect data</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="patronymic" class="col-sm-2 control-label" th:text="#{entry.list.patronymic.label}">Patronymic</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="patronymic" th:field="*{patronymic}" th:placeholder="#{entry.edit.patronymic.placeholder}">
                        <span th:if="${#fields.hasErrors('patronymic')}" th:errors="*{patronymic}" class="help-inline label-danger">Incorrect data</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="mobile" class="col-sm-2 control-label" th:text="#{entry.list.mobile.label}">Mobile number</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="mobile" th:field="*{mobile}" th:placeholder="#{entry.edit.mobile.placeholder}">
                        <span th:if="${#fields.hasErrors('mobile')}" th:errors="*{mobile}" class="help-inline label-danger">Incorrect data</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="tel" class="col-sm-2 control-label" th:text="#{entry.list.tel.label}">Tel.</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="tel" th:field="*{tel}" th:placeholder="#{entry.edit.tel.placeholder}">
                        <span th:if="${#fields.hasErrors('tel')}" th:errors="*{tel}" class="help-inline label-danger">Incorrect data</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="address" class="col-sm-2 control-label" th:text="#{entry.list.address.label}">Address</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="address" th:field="*{address}" th:placeholder="#{entry.edit.address.placeholder}">
                        <span th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="help-inline label-danger">Incorrect data</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-2 control-label" th:text="#{entry.list.email.label}">Email</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="email" th:field="*{email}" th:placeholder="#{entry.edit.email.placeholder}">
                        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="help-inline label-danger">Incorrect data</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10 col-md-offset-2">
                        <button type="submit" class="btn btn-primary" th:text="#{entry.list.save.label}">Save</button>
                        <button type="reset" class="btn btn-primary" th:text="#{entry.edit.reset}">Reset</button>
                        <a type="button" class="btn btn-primary" th:href="@{/}" th:text="#{entry.edit.cancel}">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-xs-12 col-sm-3">
            <p style="padding:20px;"></p>
        </div>
    </div>

</div>
<div th:replace="fragments/layout :: footer">
    Footer
</div>
</body>
</html>