<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head">
    <title>List of phone entries</title>
</head>
<body>
<div th:include="fragments/layout :: header"></div>
<div style="padding-top: 60px"></div>
<div class="container">
    <div class="row row-content">
        <div class="col-xs-12">
            <h3>Edit Phone entry</h3>
        </div>
        <div class="col-xs-12 col-sm-9">
            <form class="form-horizontal" accept-charset="UTF-8" role="form" th:object="${entry}" th:action="@{/edit}" method="post">

                <input type="hidden" th:field="${entry.id}" name="id" id="id"/>
                <div class="form-group">
                    <label for="secondName" class="col-sm-2 control-label">Second Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="secondName" name="secondName" placeholder="Enter Second Name" th:value="${entry.secondName}">
                        <span th:if="${#fields.hasErrors('secondName')}" th:errors="*{secondName}"
                              class="help-inline label-danger">Incorrect data</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="firstName" class="col-sm-2 control-label">First Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="firstName" name="firstName" th:value="${entry.firstName}" placeholder="Enter First Name">
                        <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
                              class="help-inline label-danger">Incorrect data</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="patronymic" class="col-sm-2 control-label">Patronymic</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="patronymic" name="patronymic" th:value="${entry.patronymic}" placeholder="Enter your Patronymic">
                        <span th:if="${#fields.hasErrors('patronymic')}" th:errors="*{patronymic}" class="help-inline label-danger">Incorrect data</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="mobile" class="col-sm-2 control-label">Mobile number</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="mobile" name="mobile" th:value="${entry.mobile}" placeholder="In format +380(XX)XXXXXXX">
                        <span th:if="${#fields.hasErrors('mobile')}" th:errors="*{mobile}" class="help-inline label-danger">Incorrect data</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="tel" class="col-sm-2 control-label">Tel.</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="tel" name="tel" th:value="${entry.tel}" placeholder="Not required">
                        <span th:if="${#fields.hasErrors('tel')}" th:errors="*{tel}" class="help-inline label-danger">Incorrect data</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="address" class="col-sm-2 control-label">Address</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="address" name="address" th:value="${entry.address}" placeholder="Not required">
                        <span th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="help-inline label-danger">Incorrect data</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="email" name="email" th:value="${entry.email}" placeholder="Enter Your Email">
                        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="help-inline label-danger">Incorrect data</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10 col-md-offset-2">
                        <button type="submit" class="btn btn-primary">Save  </button>
                        <button type="button" class="btn btn-primary" th:href="@{/}">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-xs-12 col-sm-3">
            <p style="padding:20px;"></p>
        </div>
    </div>

</div>
<div th:replace="fragments/layout :: footer">
    Footer
</div>
</body>
</html>