<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:fragment="headerFragment">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Phone book</title>
    <link rel="stylesheet" href="../../../assets/css/bootstrap.css" th:href="@{/resources/css/bootstrap.css}"/>

    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>

</head>

<body>
<div th:fragment="header">


        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" th:href="@{/}">My Phone book</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/entry" th:text="#{navbar.addentry}">Add entry</a></li>
                    <li>
                        <div style="padding-top: 11px">
                            <form class="form-inline" action="/search" method="get">
                                <input type="text" name="q" placeholder="Search">
                            </form>
                        </div>

                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li th:if="${#authorization.expression('!isAuthenticated()')}" style="padding-right: 30px">
                        <a href="/login" th:href="@{/login}"><span th:text="#{navbar.signin}">Sign in</span></a>
                    </li>
                    <li th:if="${#authorization.expression('isAuthenticated()')}">
                        <p style="padding-top: 15px;color: gray;"><span th:text="#{navbar.hi}"></span>, <span th:utext="${#authentication.name}"></span>!</p>
                    </li>
                    <li th:if="${#authorization.expression('isAuthenticated()')}" style="padding-right: 30px">
                        <a href="/logout" th:href="@{/logout}" th:text="#{navbar.loguot}">Logout</a>
                    </li>
                </ul>

            </div>
            <!--/.nav-collapse -->
        </div>



</div>
<!--/.nav-collapse -->

<div th:fragment="footer" align="center" style="position: absolute; left: 0; bottom: 0; width: 100%; padding: 0 10px 10px; background: #f8f8f8;" >

    &copy; 2016 Aquariusmaster
    <script th:src="@{/resources/js/jquery.min.js}"></script>
    <script  th:src="@{/resources/js/bootstrap.min.js}"></script>


</div>
</body>

</html>